@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

a {
  text-decoration: none;
  color: white;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.navbar {
  width: 100%;
  height: 52px;

  display: grid;
  grid-template-columns: 274px 70px;

  font-family: "Roboto", sans-serif;
  background-color: #0c3aaf;
}

.navbar-left {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar-left h1 {
  margin: 0;
  padding-left: 15px;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
}

.logo-container {
  margin: 0;
  width: 59px;
  height: 48px;
}

.off-screen-menu {
  background-color: #002a95db;
  height: 100vh;
  width: 80%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  transition: 0.3s ease;

  color: white;
  font-weight: 700;
}
.off-screen-menu.active {
  right: 0px;
}

.off-screen-menu ul {
  padding: 0;
}

.navbar-right {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.hamMenu {
  margin: 0;
  width: 43px;
  height: 25px;
  position: fixed;
  right: 5%;
  z-index: 2;
}
.hamMenu span {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.hamMenu span:nth-child(1) {
  top: 10%;
}

.hamMenu span:nth-child(3) {
  top: 90%;
}

.hamMenu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hamMenu.active span:nth-child(2) {
  opacity: 0;
}

.hamMenu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.carousel-container {
  width: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7063200280112045) 0%,
    rgba(117, 117, 117, 0.2777485994397759) 49%,
    rgba(255, 255, 255, 0) 100%
  );
}

.slider {
  display: flex;
  width: 100%;
  animation: slide 16s infinite;
}

.slider img {
  width: 100%;
  height: 546px;
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

.cover {
  width: 100%;
  height: 546px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7063200280112045) 0%,
    rgba(117, 117, 117, 0.2777485994397759) 49%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  z-index: 2;
}

.values-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.values-container h2 {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.value-item {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.value-item h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.value-item_card {
  display: flex;
  width: 180px;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.23);
}
.value-item_card img {
  width: 123px;
  height: 123px;
}

.value-item_card p {
  width: 70%;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.MV-container {
  width: 100%;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.MV-item {
  width: 344px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MV-item h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.MV-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.MV-card p {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.LG-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.location {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 80px;
}

.location h3 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.location-card {
  width: 90%;
  height: 369px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.23);
  overflow: hidden;
}

.map {
  width: 100%;
  height: 369px;
}

.gallery-container{
  width: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;

  margin-bottom: 80px;
}

.gallery-container h2{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.gallery{

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  width: 90%;
  
  
}
.gallery img{
  width: 100%;
  transition: 0.5 ease;
}


.footer {
  width: 100%;
  height: 84px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-items: center;
  justify-items: center;

  background-color: #0c3aaf;
}

.social-icon_container {
  margin: 0;
  width: 34px;
  height: 34px;
}

.social-icon_container img {
  width: 100%;
}

@media (min-width: 400px) {
  .navbar {
    grid-template-columns: 1fr 0.5fr;
  }
}

@media (min-width: 700px) {
  .navbar {
    grid-template-columns: 1fr 0.5fr;
  }

  .off-screen-menu {
    background-color: #002a95db;
    height: 52px;
    width: 100%;
    background-color: transparent;
    right: 0px;

    flex-direction: row;
    justify-content: space-around;

    font-size: 1rem;
    transition: none;

    position: absolute;
  }

  .hamMenu {
    margin: 0;
    width: 0;
    height: 0;

    z-index: 0;
  }

  .values {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    column-gap: 50px;
  }

  .MV-container {
    width: 100%;
    margin-top: 150px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .MV-card {
    height: 450px;
  }

  .value-item_card {
    height: 240px;
  }

  .MV-card img {
    height: 45%;
  }

  .gallery{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .navbar {
    grid-template-columns: 1fr 0.5fr;
  }

  .off-screen-menu {
    background-color: #002a95db;
    height: 52px;
    width: 100%;
    background-color: transparent;
    right: 0px;

    flex-direction: row;
    justify-content: space-around;

    font-size: 1rem;
    transition: none;

    position: absolute;
  }

  .hamMenu {
    margin: 0;
    width: 0;
    height: 0;

    z-index: 0;
  }

  .slider img {
    height: 800px;
  }

  .carousel-container{
    height: 800px;
  }

  .cover {
    height: 100%;
  }                                       

  .values {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 100px;
    column-gap: 50px;
  }

  .MV-container {
    width: 100%;
    margin-top: 150px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
  }

  .MV-card {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    height: 250px;
    width: 600px;
  }

  .MV-card img {
    overflow: hidden;
    height: 250px;
    width: 250px;
  }

  .LG-container{
    margin-bottom: 0;
    flex-direction: row;
  }

  .map {
    height: 500px;
  }

  .location{
    margin-top: 0;
    margin-bottom: 0;
  }

  .location-card {
    height: 500px;
  }



  .gallery-container{
    margin-bottom: 0;
  }

}
